ul{
    margin: 0;}

html  {
    font-family: Tahoma;
    margin:0 0;
    padding:0 0;}
body  {
    font-family: Tahoma;
    margin:0;
    padding:1;}
h1, h2, h3, h4{
    text-transform: capitalize;}
.first_stuff{
    background-color: rgb(200,230,240);
    background: linear-gradient(95deg, rgb(200,230,240) 75%, rgb(170,215,225) 25%);
    z-index:1;}
.front_section{
    z-index:0;
    padding:300px 8% 50px 8%;
    color: rgb(70,80,90);
    position:relative;
    height:500px;}  
.front_section .margined{
    z-index: 10;
    margin-left: 10%;
    margin-right: 12%;}
.front_section h1{
    z-index: 10;
    font-size: 32px;
    color: rgb(0,50,80);}
.front_section .small_highlight{
    color: rgb(20,30,40);}
.big_highlight{
    color: rgb(240,80,20);
    font-size: 24px;}
.subtitle{
    color: rgb(240,80,20);
    font-size: 15px}
.cards{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    list-style-type: none;
    position: absolute;
    padding:0;
    bottom: -70px;
    left: 5%;
    right: 5%;}
.card_insides{
    display: flex;}
.card_insides i{
    font-size:40px;
    margin:auto 20px;
    color: rgb(240,80,20);}
.cards li{
    margin:10px 5px;
    background-color: rgb(255,255,255);
    width: 160px;
    -webkit-box-shadow: 0px 6px 71px -31px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 71px -31px rgba(0,0,0,0.75);
    box-shadow: 0px 6px 71px -31px rgba(0,0,0,0.75);
    padding:20px 50px;
    z-index: 10;}
.small_info_list{
    padding-left: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    list-style-type: none;}
.small_info_list .divider {
    width: 2px;
    margin: 15px 50px;
    background: rgb(240,80,20);
    align-self: stretch;}
.course_sercher{
    z-index: 1;
    background-color: rgb(255,255,255);
    height: 75px;
    width:500px;
    -webkit-box-shadow: 0px 6px 71px -31px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 71px -31px rgba(0,0,0,0.75);
    box-shadow: 0px 6px 71px -31px rgba(0,0,0,0.75);
    position: relative;}
.course_sercher fieldset{
    border:0px;}
.course_sercher fieldset select{
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    border:0px;
    outline:0px;
    background-color:white;
    background:none;
    appearance:none;}
.course_sercher fieldset button{
    margin: 0;
    position: absolute;
    top: 41px;
    left:422px;
    transform: translateY(-50%);
    font-size: 24px;
    border:0px;
    outline:0px;
    background-color:white;
    background:none;
    appearance:none;}
.side_picture{
    z-index: -1;
    right: 10%;
    bottom: 0;
    height:100%;
    position:absolute;
    pointer-events: none;}
h2{
    text-transform: capitalize;
    font-size: 26px;
    color: rgb(0,50,80);
    text-align: center;}
h3{
    text-transform: capitalize;
    font-size: 20px;
    color: rgb(0,50,80);}
a{
    font-weight: bold;}
.course_categories_section{
    padding:8%;
    background-color: rgb(255,255,255);
    z-index: -101;
    position:relative;}
.list_of_categories{
    list-style-type: none;
    padding-left: 0;
    justify-content: center;
    display: grid;
    grid-template-rows: 350px 350px;
    grid-template-columns: 300px 300px 300px 300px;}
.list_of_categories_images{
    width:100%;}
.list_of_categories_item{
    margin: 10px;
    border:1px;
    border-style: solid;
    border-color:rgb(200,200,200);
    color: rgb(70,80,90);
    font-size:14px;} 
.available_courses_section{
    padding:2%;
    z-index: 0;
    background-color: rgb(0,50,80);
    padding-bottom:85px;
    margin:0;}
.available_courses_section.v2{
    background-color: rgb(255,255,255);}
.available_courses_section h2{
    color: rgb(255,255,255);
    position:relative;}
.list_of_categories_item_text{
    margin:10%;}
.list_of_categories_item_text ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    list-style-type: none;
    padding-left: 0;
    margin:15px 0;}
.available_courses_list{
    display: flex;
    padding:0;
    flex-flow: row wrap;
    justify-content: center;
    list-style-type: none;}
.available_courses_list.v2{
    list-style-type: none;
    padding-left: 0;
    justify-content: center;
    display: grid;
    grid-template-rows: 420px 420px;
    grid-template-columns: 320px 320px 320px 320px;}
.available_courses_list_item1{
    position: relative;
    width:300px;
    height:400px;
    margin:15px;
    background-color: rgb(255,255,255);}
.available_courses_list_item1 footer{
    position:absolute;
    bottom:10px;
    width:100%;}
.available_courses_list_item1 hr{
    width:70%;} 
.available_courses_list_item1 ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width:80%;
    list-style-type: none;
    color: rgb(70,80,90);}   
.available_courses_list_item1 ul li{
    margin:5px;}
.available_courses_list_item1_picture{
    width:100%;}
.available_courses_list_item1 h3{
    margin:20px;}
.available_courses_list_item2{
    width:300px;
    height:400px;
    margin:15px;
    background-color: rgb(240,80,20);
    color:rgb(255,255,255);
    position:relative;}
.available_courses_list_item2 ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width:80%;
    list-style-type: none;}   
.available_courses_list_item2 ul li{
    margin:5px;} 
.available_courses_list_item2 footer{
    position:absolute;
    bottom:10px;
    width:100%;}
.available_courses_list_item2_text{
    margin:20px;}
.available_courses_list_item2_text h3{
    color:rgb(255,255,255);}
.available_courses_list_item2_text_link{
    padding:10px;
    margin:30px 0;
    background-color:rgb(255,255,255);
    color:rgb(240,80,20);
    position:relative;
    top:32px;
    text-decoration: none;}
.available_courses_all{
    text-align: center;
    position:absolute;
    margin:40px;
    padding:10px;
    left: 50%;
    -ms-transform: translate(-70%, -50%);
    transform: translate(-70%, -50%);
    border:1px;
    border-style: solid;
    color: rgb(130,160,170);
    text-decoration: none;}
.available_courses_category1{
    font-weight: bold;
    background-color:rgb(60,100,220);
    text-transform:uppercase;
    width:30%;
    text-align:center;
    padding:5px;
    margin:20px;
    color:rgb(255,255,255);
    border-radius: 100px;}
.available_courses_category2{
    font-weight: bold;
    background-color:rgb(255,255,255);
    text-transform:uppercase;
    width:32%;
    text-align:center;
    padding:5px;
    color:rgb(240,80,20);
    border-radius: 100px;}
.available_courses_category3{
    font-weight: bold;
    background-color:rgb(240,80,20);
    text-transform:uppercase;
    width:30%;
    text-align:center;
    padding:5px;
    margin:20px;
    color:rgb(255,255,255);
    border-radius: 100px;}
    
.campus_gallery_section{
    background-color:rgb(255,255,255);
    margin:0;
    padding:8%;}
.campus_gallery_categories{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    list-style-type: none;
    padding:0;
    border-bottom: 1px solid rgb(200,200,200);}
.campus_gallery_categories li{
    margin:15px;}   
.campus_gallery_pics{
    display: grid;
    flex-flow: row wrap;
    justify-content: center;
    list-style-type: none;
    padding:0;
    grid-template-rows: 330px 330px;
    grid-template-columns: 330px 330px 330px;}
.campus_gallery_pics li{
    margin:15px;
    height: 300px; 
    position:relative;}
.campus_gallery_pic{
    width: 300px; 
    height: 300px; 
    object-fit: cover;}
.galery_cover_text{
    display: none;
    background-color: rgba(0,50,80,0.8);
    width: 250px; 
    height: 250px; 
    padding: 25px;
    position:absolute;
    top:0;
    color: rgb(255,255,255);}
.galery_cover_text h3{
    margin:5px 0 10px 0;
    color: rgb(255,255,255);}
.galery_cover_text a{
    position:absolute;
    bottom:25px;
    right:25px;}
.galery_cover_text .a_slot{
    text-align:center;
    background-color:rgb(240,80,20);
    width:50px;
    height:50px;}   
.galery_cover_text .a_slot span{
    top: 3px;
    right: 8px;
    font-size:30px;
    position:absolute;}
.campus_gallery_pics li:hover .galery_cover_text{
    display:block;}
    
.instructors_section{
    background-color:rgb(200,230,240);
    margin:0;
    padding:8%;}
.instructors_list{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    list-style-type: none;
    padding:0;}
.instructors_list_item{
    margin:8px;
    background-color:rgb(255,255,255);}
.instructors_pic{
    width: 300px; 
    height: 410px;
    object-position:0 -20px; 
    object-fit: cover;
    margin:0;
    padding:0;}   
.instructors_list_item_text{
    padding:35px;
    margin:0;
    color: rgb(70,80,90);}
.instructors_list_item_text footer{
    border-top: 1px solid rgb(70,80,90);
    margin-top:10px;
    padding-top:10px;}
    
.events_section{
    background-color:rgb(255,255,255);
    margin:0;
    padding:8%;}
.events_cards{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    list-style-type: none;
    padding:0;}
.events_big_card{
    position:relative;
    width: 600px;
    height: 630px;
    margin:10px;
    color: rgb(70,80,90);
    background-color:rgb(200,230,240);}
.events_big_card_text{
    padding:30px 20px;}
.events_big_card_main_info{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width:80%;
    list-style-type: none;
    padding:0;}
.events_big_card_main_info li{}
.events_big_card_link{
    padding:10px 30px;
    background-color:rgb(240,80,20);
    color:rgb(255,255,255);
    text-decoration: none;
    text-transform: uppercase;}
.events_big_card_pic{
    width: 600px; 
    height: 400px;
    object-position:0 0; 
    object-fit: cover;}
.events_all{
    text-transform: uppercase;
    text-align: center;
    position:absolute;
    margin:40px;
    padding:10px;
    left: 50%;
    -ms-transform: translate(-70%, -50%);
    transform: translate(-70%, -50%);
    border:1px;
    border-style: solid;
    color: rgb(130,160,170);
    text-decoration: none;}
.events_small_cards{
    width:400px;
    margin:0;}
.events_small_card{
    height:250px;
    margin:10px;
    background-color:rgb(50,50,50);
    color:rgb(255,255,255);
    padding:30px;
    position:relative;}
.events_small_card_most_texts{
    position:absolute;
    bottom:30px;}
.events_small_card.card1{
    background: linear-gradient(
        rgba(0, 0, 0, 0), 
        rgba(0, 0, 0, 0), 
        rgba(0,50,80,1),
        rgba(0,50,80,1)
    ), 
    url("pictures/students (4).jpg");}
.events_small_card.card2{
    background: 
      linear-gradient(
          rgba(0, 0, 0, 0), 
          rgba(0, 0, 0, 0), 
          rgba(0,50,80,1),
          rgba(0,50,80,1)), 
      url("pictures/students (3).jpg");}  
.events_small_card ul{
    color:rgb(200,230,240);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    list-style-type: none;
    padding:0;}
.events_small_card h3{
    color:rgb(255,255,255);}
.events_join{
    text-transform: uppercase;
    text-decoration: none;
    color:rgb(255,255,255);}
.event_big_card_prize{
    background-color:rgb(240,80,20);
    position:absolute;
    top:360px;
    right:50px;
    font-size:30px;
    color:rgb(255,255,255);
    border-radius: 100px;
    width:80px;
    height:40px;
    padding:20px 0;
    text-align:center;
    font-weight: bold;}
.event_small_card_prize{
    background-color:rgb(240,80,20);
    position:absolute;
    top:30px;
    right:30px;
    font-size:30px;
    color:rgb(255,255,255);
    border-radius: 100px;
    width:80px;
    height:40px;
    padding:20px 0;
    text-align:center;
    font-weight: bold;}
  
.students_say_section{
    background: 
      linear-gradient(
          rgba(0, 5, 10, 0.7),
          rgba(0, 5, 10, 0.7)), 
      url("pictures/hangout.jpg");
    background-size: cover;
    margin:0;
    padding:8%;}
.students_say_section h2{
    color:rgb(255,255,255);}
.students_say_section h2 .subtitle{
    color:rgb(255,255,255);}
.students_say_pages{
    width:440px;
    height:613px;
    margin:60px;}
.students_say_page2{
    background-color:rgb(200,230,240);
    position:relative;
    width:420px;
    height:593px;}
.students_say_page1{
    background-color:rgb(255,255,255);
    position:absolute;
    top:20px;
    left:20px;
    width:360px;
    height:533px;
    padding:30px;}
.students_say_main_text{
    color: rgb(0,50,80);}
.students_say_sub_text{
    color: rgb(70,80,90);
    font-size:14px;}
.students_say_role{
    color: rgb(240,80,20);}
.students_say_dude{
    padding-left:65px;}
.students_say_pics{
    width:590px;
    height:550px;
    margin:60px;
    position:relative;}
.studends_say_pic{
    width: 140px; 
    height: 140px;
    object-position:0 0; 
    object-fit: cover;
    position:absolute;}
.studends_say_pic.pic1{
    top:150px;
    left:0px;}
.studends_say_pic.pic2{
    top:330px;
    left:0px;
    object-position:-20px 0px;}
.studends_say_pic.pic3{
    top:50px;
    left:180px;}
.studends_say_pic.pic4{
    top:230px;
    left:180px;
    object-position:-50px 0px;}
.studends_say_pic.pic5{
    top:410px;
    left:180px;}
.studends_say_pic.pic6{
    top:0px;
    left:360px;
    object-position:-20px 0px;}
.studends_say_pic.pic7{
    top:180px;
    left:360px;
    object-position:-35px 0px;}
.studends_say_pic.pic8{
    top:360px;
    left:360px;
    object-position:-45px 0px;}
.students_say_body{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    list-style-type: none;
    padding:0;}
    
.become_instructor_section{
    background-color:rgb(200,230,240);
    margin:0;
    padding:8%;}
.become_instructor_body{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    list-style-type: none;
    padding:0;}
.become_instructor_pics{
    width:500px;
    height:500px;
    position:relative;
    margin:0 2%;}
.become_instructor_pic{
    object-position:0 0; 
    object-fit: cover;
    position:absolute;}
.become_instructor_pic.pic1{
    width:400px;
    height:400px;
    top:0px;
    left:0px;
    object-position:-150px -10px;}
.become_instructor_pic.pic2{
    width:300px;
    height:300px;
    top:200px;
    left:200px;
    object-position:-80px 0px;}
.become_instructor_texts{
    width:500px;
    height:500px;
    color: rgb(70,80,90);
    margin:0 2%;}
.become_instructor_section h2{
    text-align:left;}
.become_instructor_keywords{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    list-style-type: none;
    padding:0;}
.become_instructor_keyword{
    width:45%;}
.become_instructor_keywords .divider {
    width: 1px;
    margin: 15px 15px;
    background: rgb(70,80,90);
    align-self: stretch;}
.become_instructor_links{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    list-style-type: none;
    padding:0;}
.become_instructor_link{
    width:50%;}
.become_instructor_join_link{
    padding:10px 30px;
    background-color:rgb(240,80,20);
    color:rgb(255,255,255);
    text-decoration: none;
    text-transform: uppercase;}
.become_instructor_partner_link{
    padding:10px 30px;
    background-color:rgb(255,255,255);
    color:rgb(0,50,80);
    text-decoration: none;
    text-transform: uppercase;}
    
.news_section{
    background-color:rgb(255,255,255);
    margin:0;
    padding:8%;}
.news{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    list-style-type: none;
    padding:0;}
.new{
    width:300px;
    margin:20px;
    border:1px;
    border-style: solid;
    border-color:rgb(200,200,200);
    position:relative;}
.news_pic{
    object-position:0 0; 
    object-fit: cover;
    width:300px;
    height:300px;}
.news_pic.pic1{
    object-position:-80px 0px;}
.news_pic.pic2{
    object-position:-220px 0px;}
.news_pic.pic3{
    object-position:-100px 0px;}
.news_info{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    list-style-type: none;
    padding-right:60px;
    padding-left:0;}
.news_text{
    margin:20px;}
.news_link{
    position:absolute;
    right:0;
    bottom:0;
    padding:20px;
    color:rgb(255,255,255);
    text-decoration: none;
    background-color: rgb(0,50,80);}
.news_link:hover{
    background-color:rgb(240,80,20);}
    
.logos_section{
    background-color:rgb(240,80,20);
    margin:0;
    padding:0 8%;}
.logos{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    list-style-type: none;
    padding:0;}
.logo{
    margin:30px;
    width:150px;
    height:150px;}
.social_media{
    margin: auto 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    list-style-type: none;
    padding:0;
    color:rgb(255,255,255);
    font-size:20px;
    width:50%;}
.social_medium{
    color:rgb(255,255,255);
    text-decoration: none;}
.minilogo{
    width:20px;
    height:20px;}
.footer_hr{
    width:200px;
    display: block; 
    height: 2px;
    border: 0;
    border-top: 1px solid rgb(240,80,20);
    color:rgb(240,80,20);}
.footer_bot_top{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding:0;}
.footer_edu{
    height:250px;}
.nav_edu{
    height:150px;
    margin:0 40px;}
.bottom_section{
    background: 
      linear-gradient(
          rgba(0, 50, 80, 0.95),
          rgba(0, 50, 80, 0.95)), 
      url("pictures/hangout.jpg");
    background-size: cover;
    margin:0;
    padding:0 8% 30px 8%;
    color:rgb(220,220,220);}
.footer_extras{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding:0;}
.bottom_section h3{
    color:rgb(255,255,255);}
.footer_courses{
    width: 350px;
    margin:1%;}
.footer_courses ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding:0;
    list-style-type: none;}
.social_media li{
    margin:0 8px;}
.footer_company{
    width: 150px;
    margin:1%;}
.footer_company ul{
    list-style-type: none;
    padding:0;}
.footer_newsletters{
    width: 400px;
    margin:1%;}
.footer_copyright{
    width:100%;
    text-align:center;
    padding:20px;
    background-color:rgb(10,60,90);}
    
.title_section{
    background: 
      linear-gradient(
          rgba(0, 5, 10, 0.7),
          rgba(0, 5, 10, 0.7)), 
      url("pictures/hangout.jpg");
    background-size: cover;
    margin:0;
    padding:8%;
    text-align:center;
    color:rgb(255,255,255);}

.title_section h1{
    font-size:62px;}

.current_dir{
    text-decoration: none;
    color:rgb(255,255,255);
    text-transform: capitalize;}

.welcome_section{
    background-color:rgb(255,255,255);
    margin:0;
    padding:8%;
    position:relative;}
.welcome_body{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    list-style-type: none;
    padding:0;}
.welcome_pics{
    width:500px;
    height:600px;
    position:relative;
    margin:0 2%;}
.welcome_pic{
    object-position:0 0; 
    object-fit: cover;
    position:absolute;}
.welcome_pic.pic1{
    width:400px;
    height:400px;
    top:0px;
    left:0px;
    object-position:-80px 0px;}
.welcome_pic.pic2{
    width:300px;
    height:300px;
    top:300px;
    left:200px;
    object-position:-150px -10px;}
.welcome_circle1{
    position:absolute;
    width:200px;
    height:200px;
    top:200px;
    left:120px;
    border-radius: 1000px;
    background-color:rgb(255,255,255);
    z-index:25;}
.welcome_circle2{
    position:relative;
    width:200px;
    height:200px;
    top:-10px;
    left:-10px;
    border-radius: 1000px;
    background-color:rgb(240,80,20);}
.welcome_circle2 .text{
    text-align:center;
    position: absolute;
    width:100%;
    top: 50%;
    margin-top: -80px;
    color:rgb(255,255,255);
    text-transform: uppercase;
    font-size:20px;}
.welcome_circle_big{
    font-size:72px;}
.welcome_texts{
    width:500px;
    height:600px;
    color: rgb(70,80,90);
    margin:0 2%;}
.welcome_section h2{
    text-align:left;}
.welcome_text1{
    padding-left:25px;
    border-left: solid rgb(240,80,20) 4px;}
.welcome_keywords{
    justify-content: center;
    list-style-type: none;
    margin:50px 0;
    padding-left:0;}
.welcome_keyword{
    padding-left:90px;}
.welcome_keywords .divider {
    width: 100%;
    height:1px;
    margin: 15px 0;
    background: rgb(70,80,90);
    align-self: stretch;}
.welcome_links{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    list-style-type: none;
    padding:0;}
.welcome_link{
    width:50%;}
.welcome_more_link{
    padding:10px 30px;
    background-color:rgb(240,80,20);
    color:rgb(255,255,255);
    text-decoration: none;
    text-transform: uppercase;}
.welcome_partner_link{
    padding:10px 30px;
    background-color:rgb(255,255,255);
    color:rgb(0,50,80);
    text-decoration: none;
    text-transform: uppercase;}
.cards.v2{
    bottom: -90px;}
.cards.v2 li{
    border-top: solid rgb(240,80,20) 2px;}
.card_insides.v2 .big_highlight{
    color:rgb(240,80,20);
    font-size:32px;}
    
.goals_section{
    background-color:rgb(200,230,240);
    margin:0;
    padding:8%;} 
.goals_body{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    list-style-type: none;
    padding:0;}
.goals_texts{
    width:400px;
    margin:70px;
    color: rgb(70,80,90);}
.goals_texts h2{
    text-align:left;}
.goals_video{
    position:relative;
    width:650px;}
.goals_video video{
    text-align:center;
    position: absolute;
    top: 50%;
    margin-top: -80px;}
.goals_stats{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    list-style-type: none;
    padding:0;
    color: rgb(0,50,80);}
.goals_stat{
    margin:5px;}
.goals_percent{
    width:120px;
    height:120px;
    background-color:rgb(255,255,255);
    border-radius: 1000px;
    text-align:center;
    position:relative;
    margin:15px;}
.goals_percent div{
    text-align:center;
    position: absolute;
    top: 50%;
    width:100%;
    margin-top: -15px;
    font-size:30px;
    font-weight: bold;}
.goals_stat .small_highlight{
    font-weight: bold;}

.instructors_section.v2{
    background:rgb(255,255,255)}
.instructors_list_item_text.v2{
    border: solid rgb(200,200,200) 1px;
    position:relative;
    top:-3px;}
.page_center{
    margin: 20px 0;
    width: 1000px;
    color: rgb(70,80,90);}
.page_center h2{
    text-align:left;}
.youtube_vid{
    height: 562px;
    width: 99.5%;
    object-fit: cover;}
.lessons{
    border: solid rgb(200,200,200) 1px;
    padding:0;}
.lessons a{
    border: solid rgb(200,200,200) 1px;
    display:block;
    padding:15px;
    text-decoration: none;
     color: inherit;
     list-style-type: none;
    justify-content: space-between;}
.lessons a:hover{
    background-color: rgb(200,230,240);}
.go_left{
    text-align:left;
    display: inline;
    color: rgb(0,50,80);}
.go_right{
    float:right;
    text-align:right;
    display: inline;}
.random_ilustration{
    width:100%;
    padding:40px 0 0 0;}
.content {
  padding: 20px 20px;
  overflow: hidden;
  border: solid rgb(200,200,200) 1px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  list-style-type: none;
  display: none;}
.content2 {
  padding: 10px 10px;
  overflow: hidden;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  list-style-type: none;
  display: none;}
.qna_list{
    list-style-type: none;
    padding:0;
    margin:40px 0;}
.qna_list h3{
    width:85%;}
.qna_item{
    }
.qna_pic{
    width: 200px; 
    height: 120px;
    object-position:0 0; 
    object-fit: cover;
    float:left;
    margin:0;}
.qna_a{
    line-height: 1.8;
    margin:0;
    padding-left:220px;}
.list_of_qna_teachers{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    list-style-type: none;
    padding:0;}
.list_of_qna_teachers_images{
    width:100%;}
.list_of_qna_teachers_item{
    margin: 10px;
    padding:100px;
    border:1px;
    border-style: solid;
    border-color:rgb(200,200,200);
    color: rgb(70,80,90);
    font-size:14px;
    text-align: center;
    align-items: center;
    width:27%;} 
.qna_teacher_pic{
    width: 200px; 
    height: 200px;
    object-position:0 0; 
    object-fit: cover;
    margin:0;
    clip-path: circle();}
.main_stuff{
    margin: 100px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    list-style-type: none;
    padding:0;}
.course_info_panel{
    text-transform: capitalize;
    width:320px;
    font-size:16px;
    margin: 20px;
    padding:50px;
    border:1px;
    border-style: solid;
    border-color:rgb(200,200,200);
    font-weight: bold;}
.course_info_panel ul {
    padding:0;
    margin:0;
    list-style-type: none;}
.course_info_panel ul li{
    margin:15px 0;} 
.course_info_panel ul li .go_right{
    color:rgb(240,80,20);}
.link_area{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    list-style-type: none;
    padding:0;}
.enroll_link{
    text-decoration: none;
    background-color:rgb(60,100,220);
    text-transform:uppercase;
    width:30%;
    text-align:center;
    padding:10px;
    margin-top:40px;
    color:rgb(255,255,255);
    border-radius: 100px;
    text-align:center;
    width:80%;}
.add{
    margin: 20px;
    width:420px;
    height:auto;}

.one_line{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width:100%;
    list-style-type: none;
    color: rgb(70,80,90);
    padding:0;}
.info_line{
    padding:10px;
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
    color: rgb(70,80,90);
    justify-content: space-between;}
.info_line li{
    margin: 0 40px;}
.price_tag{
    font-weight: bold;
    padding:10px 15px;
    background-color:rgb(60,100,220);
    color:rgb(255,255,255);}
.join_link{
    text-decoration: none;
    background-color:rgb(240,80,20);
    text-transform:uppercase;
    width:30%;
    text-align:center;
    padding:10px;
    color:rgb(255,255,255);
    width:190px;}
.event_details_main{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    list-style-type: none;
    padding:0;
    margin:20px;}
.event_details_main_iter{
    width:1300px;}
.event_details_main h2{
    text-align:left;}
.big_pic{
    width:100%;
    height:450px;
    object-fit: cover;}
.half{
    width:600px;}
.map {
  height: 400px;
  width: 100%;
}
.checks{
    text-transform:capitalize;}
.events_small_card2{
    height:250px;
    width:340px;
    margin:20px 0;
    background-color:rgb(50,50,50);
    color:rgb(255,255,255);
    padding:30px;
    position:absolute;}
.events_small_card2_frame{
    height:350px;
    width:400px;}
.events_small_card2.card1{
    background: linear-gradient(
        rgba(0, 0, 0, 0), 
        rgba(0, 0, 0, 0), 
        rgba(0,50,80,1),
        rgba(0,50,80,1)
    ), 
    url("pictures/students (4).jpg");}
.events_small_card2.card2{
    background: 
      linear-gradient(
          rgba(0, 0, 0, 0), 
          rgba(0, 0, 0, 0), 
          rgba(0,50,80,1),
          rgba(0,50,80,1)), 
      url("pictures/students (3).jpg");}  
.events_small_card2.card3{
    background: 
      linear-gradient(
          rgba(0, 0, 0, 0), 
          rgba(0, 0, 0, 0), 
          rgba(0,50,80,1),
          rgba(0,50,80,1)), 
      url("pictures/students (2).jpg");}  
.events_small_card2 ul{
    color:rgb(200,230,240);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    list-style-type: none;
    padding:0;}
.events_small_card2 h3{
    color:rgb(255,255,255);}

.alterned_main_stuff{
    background-color: rgb(200,230,240);
    width:100%;
    justify-content: center;
    padding:40px 0;}
.instructor_card{
    width:400px;
    height:610px;
    background-color: rgb(255,255,255);
    margin:30px;}
.teacher_pic{
    width:100%;
    height:450px;
    object-fit: cover;}
.instructor_card_socials{
    list-style-type: none;
    margin:10px;
    padding-left: 0;
    justify-content: center;
    display: grid;
    grid-template-rows: 70px 70px;
    grid-template-columns: 70px 70px;}
.smalllogo{
    margin:10px;
    width:50px;
    height:50px;}
.teacher_text{
    margin:0 20px;}
.about_teacher{
    width:700px;
    height:510px;
    margin:30px;
    background-color: rgb(255,255,255);
    padding:50px;}
.about_teacher h2{
    text-align:left;}
.one_line_center{
    display: flex;
    flex-flow: row wrap;
    position:relative;
    justify-content: center;
    width:100%;
    list-style-type: none;
    color: rgb(70,80,90);}
.cards_copy{
    display: flex;
    width:700px;
    flex-flow: row wrap;
    justify-content: space-between;
    list-style-type: none;
    position: absolute;
    padding:0;
    bottom: 70px;}
.cards_copy li{
    margin:10px;
    width: 160px;
    padding:20px 50px;
    z-index: 10;}
.half_page_card{
    width:502.5px;
    height:350px;
    margin:30px;
    background-color: rgb(255,255,255);
    padding:50px;}
.diploma_pic{
    height:120px;
    width:auto;}
.half_page_card h2{
    text-align:left;}
.half_page_card h3{
    text-align:left;}
.wide_block{
    width:1200px;
    background-color: rgb(255,255,255);
    padding:50px;
    margin: 30px auto;}
.side_card{
    width:300px;
    height:500px;
    margin:30px;
    background-color: rgb(255,255,255);
    padding:50px;}
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;}
.someones_title{
    color:rgb(240,80,20);
    font-size:12px;
    text-align:center;}
.main_card{
    width:700px;
    height:1130px;
    margin:30px;
    background-color: rgb(255,255,255);
    padding:50px;}
.main_card h2{
    text-align:left;}
.collapsible h3:hover{
    color:rgb(240,80,20);}
.main_card .collapsible{
    border-bottom:1px;
    border-top:0;
    border-left:0;
    border-right:0;
    border-style: solid;
    border-color:rgb(200,200,200);}
.bottom_block_1{
    background-color: rgb(30,30,120);
    padding:0;
    width:50%;}
.bottom_block_2{
    background-color: rgb(10,10,70);
    padding:0;
    width:50%;}
.bottom_block_iter{
    width:500px;
    margin:80px 60px;
    color:rgb(255,255,255);}
.bottom_block_1 .bottom_block_iter{
    float:right;}
.bottom_block_iter h2{
    color:rgb(255,255,255);
    text-align:left;}
.bottom_block_iter h2 .subtitle{
    color:rgb(255,255,255);}
.bottom_block_iter p{
    color:rgb(200,200,200);}
.bottom_block_1 .join_link{
    text-decoration: none;
    background-color:rgb(240,80,20);
    text-transform:uppercase;
    width:30%;
    text-align:center;
    padding:10px;
    color:rgb(255,255,255);
    width:190px;
    border-radius: 100px;}
.bottom_block_2 .join_link{
    text-decoration: none;
    background-color:rgb(60,100,220);
    text-transform:uppercase;
    width:30%;
    text-align:center;
    padding:10px;
    color:rgb(255,255,255);
    width:190px;
    border-radius: 100px;}
.some_space_around{
    margin:50px 0;}
fieldset{
    border:0;}
.message_entry1{
    width:95%;
    rows:1;
    padding:5px;
    margin:5px auto;
    font-size:20px;}
.message_entry2{
    width:95%;
    rows:5;
    height:60px;
    padding:5px;
    margin:5px auto;
    resize: none;
    font-size:20px;}
.message_form{
    width:100%}
.message_fieldset{
    width:100%
    margin:0;
    padding:0;}
.send_message{
    width:99%;
    padding:5px;
    margin:5px auto;
    color:rgb(255,255,255);
    background-color:rgb(240,80,20);
    border: none;
    font-size:20px;}
.blog_card{
    background-color:rgb(255,255,255);
    width:960px;
    padding:0 0 20px 0;
    margin:20px;}
.blog_pic{
    width:100%;
    height:500px;
    object-fit: cover;}
.label{
    background-color:rgb(240,80,20);
    padding:5px;
    margin:30px 0;
    color:rgb(255,255,255);
    width:60px;
    text-align:center;
    border-radius: 4px;
    text-transform: uppercase;}
.blog_card_texts{
    margin:40px;}
.read_more{
    background-color:rgb(240,80,20);
    padding:20px 40px;
    margin:30px 0;
    color:rgb(255,255,255);
    width:120px;
    text-align:center;
    text-transform: uppercase;
    text-decoration:none;}
.read_more_area{
    margin:30px 0;}
.random_meaningless_text{
    background-color:rgb(60,100,220);
    width:900px;
    margin:20px;
    padding:30px;
    color:rgb(255,255,255);}
.random_meaningless_text p{
    font-size:30px;}
.search_bar{
    width:300px;
    margin:40px 0 20px 0;
    padding:30px;
    background-color:rgb(255,255,255);}
.search-container {
    border-radius: 1000px;
    height:40px;
    background:rgb(200,200,200);}
.search-container input[type=text] {
    padding: 6px;
    width:220px;
    margin-left:10px;
    font-size: 12px;
    border: none;
    background:rgb(200,200,200);
    color:rgb(255,255,255);
    margin:7px;}
.search-container input[type=text]:not(:empty){
    background:rgb(200,200,200) !important; }
input:-internal-autofill-selected {
    background:rgb(200,200,200) !important; }
.search-container button {
    float: right;
    background: rgb(200,200,200);
    font-size: 17px;
    border: none;
    cursor: pointer;
    margin:9px;}
.blog_categories{
    padding:0;
    width:360px;}
.blog_categories li{
    background:rgb(255,255,255);
    color:rgb(70,80,90);
    list-style-type: none;
    margin:5px 0;
    padding:20px;}
.blog_categories li:hover{
    background:rgb(240,80,20);
    color:rgb(255,255,255);}
.category_link{
    text-decoration: none;
      color: inherit;}
.recent_news{
    width:300px;
    margin:20px 0 10px 0;
    padding:30px;
    background-color:rgb(255,255,255);}
.blog_side_pic{
    width:80px;
    height:60px;
    object-fit: cover;
    margin:auto;}
.recent_news ul{
    padding:0;}
.recent_news ul li div{
    width:200px;
    margin: 10px;}
.recent_news ul li div h3{
    margin:0;
    padding:0;}
.photo_galery{
    width:300px;
    margin:20px 0;
    padding:30px;
    background-color:rgb(255,255,255);}
.photo_galery:hover{}
.side_galery_pic{
    width:140px;
    height:140px;
    margin:5px;
    text-align:center;
    background-size: cover;
    align-items:center;
    justify-content:center;
    position: relative;}
.gal_logo{
    width:50px;
    height:50px;
    padding:45px;
    opacity: 0;}
.gal_logo:hover{
    background:rgba(240,80,20,0.8);
    opacity: 1;}
.popular_tags{
    width:300px;
    margin:10px 0;
    padding:30px;
    background-color:rgb(255,255,255);}
.one_line_left{
    display: flex;
    flex-flow: row wrap;
    position:relative;
    justify-content: left;
    width:100%;
    list-style-type: none;
    color: rgb(70,80,90);
    padding:0;}
.popular_tag{
    padding:10px 20px;
    margin:5px;
    text-transform: capitalize;
    background:rgb(255,255,255);
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.50);
    -moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.50);
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.50);}
.popular_tag:hover{
    background:rgb(240,80,20);
    color:rgb(255,255,255);}
.no_format_link{
    text-decoration: none;
    color:inherit;}
.add2{
    width:360px;
    margin:10px 0 0 0;}
.long_blog_card{
    background-color:rgb(255,255,255);
    width:960px;
    margin:20px;}
.random_meaningless_text2{
    background-color:rgb(60,100,220);
    padding:30px;
    color:rgb(255,255,255);
    margin:20px 0;}
.random_meaningless_text2 p{
    font-size:30px;}
.share_logo{
    width:20px;
    height:20px;}
.share_logo:hover{
    color:rgb(240,80,20);}
.underline{
    border-bottom:1px;
    border-top:0;
    border-left:0;
    border-right:0;
    border-style: solid;
    border-color:rgb(200,200,200);}
.random_meaningless_dude{
    background-color: rgb(200,230,240);
    margin:40px 0;}
.random_meaningless_dude img{
    margin:30px;}
.random_meaningless_dude_text{
    width:400px;
    margin:auto auto;}
.card_hr{
    color:rgb(200,200,200);}
.another_blogposts{
    padding:0;
    margin:40px 0;}
.another_blogposts_text{
    width:300px;
    margin: auto 20px;}
.another_blogposts a li div h3{
    margin:0;
    padding:0;}
.little_icon{
    width:20px;
    height:20px;
    color:rgb(240,80,20);}
.category_link2{
    text-decoration: none;
    color: inherit;}
.category_link2 .one_line{
    margin:auto;}
.blog_comments{
    }
.blog_comments{
    }
.comment_pic{
    width: 80px; 
    height: 80px;
    object-position:0 0; 
    object-fit: cover;
    margin:auto;
    clip-path: circle();}
.comment_title{
    color:rgb(240,80,20);
    padding:0;
    margin:0;}
.blog_comment_text{
    text-align:left;
    width:700px;
    margin:0 50px;}
.blog_comment_text h3{
    margin-bottom:1px;}
.reply_comment:hover{
    color:rgb(240,80,20);}
.reply_comment{
    margin:auto 0;}
.response{
    padding-left:60px;}
.blog_checkmarks li{
    list-style-image: url(pictures/check.svg);
    margin:auto;
    text-transform: capitalize;}
.go_right2{
    float:right;
    text-align:right;
    position: relative;
    bottom:40px;}
.comment_form{
    width:101%;
    padding-bottom:40px;}
.comment_fieldset{
    width:100%
    margin:0;
    padding:0;}
.send_comment{
    padding:20px 40px;
    margin:5px auto;
    color:rgb(255,255,255);
    background-color:rgb(240,80,20);
    border: none;
    font-size:20px;
    text-transform:uppercase;
    font-weight: bold;}
.comment_entry1{
    width:44%;
    rows:1;
    padding:20px;
    margin:5px 0;
    font-size:20px;
    border:0;
    background-color:rgb(200,200,200);}
.comment_entry2{
    width:95%;
    rows:5;
    height:60px;
    padding:18px;
    margin:15px 0;
    resize: none;
    font-size:20px;
    border:0;
    background-color:rgb(200,200,200);}
.comment_entry:focus {
    -webkit-box-shadow: 0 0 0px 1000px rgb(255,255,255) inset;
    outline-color:rgb(240,80,20);}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px rgb(200,200,200) inset;}
.entry_icon{
    position:relative;
    top:25px;
    right:45px;}
.entry_icon_slot{
    position:flex;
    width:0;}
.entry_icon2{
    position:relative;
    top:35px;
    right:45px;}
.touch_iter{
    width:400px;
    padding:0 100px 20px 0;
    border-width:0;
    border-bottom-width:1px;
    border-bottom-style:solid;
    border-bottom-color:rgb(200,200,200);}
.touch{
    width:500px;
    text-align:left;
    margin:0 30px 0 0;}
.touch h2{
    text-align:left;}
.contact_icon_slot{
    width:40px;
    height:40px;
    margin:0 auto 0 0;
    text-align:center;
    justify-content:center;
    background-color:rgb(240,80,20);
    border-radius:1000px;}
.contact_icon{
    margin:8px 0 0 0;
    color:rgb(255,255,255);
    width:40px;
    font-size:25px;
    height:40px;}
.contact_text_slot h3{
    margin:0;
    width:240px;}
.contacts{
    width:300px;}
.contact{
    margin:20px 0;}
.contact_icon_slot2{
    width:40px;
    height:40px;
    text-align:center;
    justify-content:center;
    background-color:rgb(170,215,225);
    border-radius:1000px;}
.contact_icon_slot2 .contact_icon{
    color:rgb(60,100,220);}
.contact_icon_slot2:hover{
    background-color:rgb(60,100,220);}
.contact_icon_slot2:hover .contact_icon{
    color:rgb(255,255,255);}
.touch_webs{
    margin:30px 0;
    width:200px;}
.contact_form{
    width:101%;
    padding-bottom:40px;}
.contact_fieldset{
    width:100%
    margin:0;
    padding:0;
    text-align:center;}
.send_contact{
    padding:20px 40px;
    margin:5px auto;
    color:rgb(255,255,255);
    background-color:rgb(240,80,20);
    border: none;
    font-size:20px;
    text-transform:uppercase;
    font-weight: bold;
    width:60%;}
.contact_entry1{
    width:28%;
    rows:1;
    padding:20px;
    margin:5px 0;
    font-size:20px;
    border:0;
    background-color:rgb(255,255,255);}
.contact_entry2{
    width:95.8%;
    rows:5;
    height:60px;
    padding:18px;
    margin:15px 0;
    resize: none;
    font-size:20px;
    border:0;
    background-color:rgb(255,255,255);}
.contact_entry:focus {
    -webkit-box-shadow: 0 0 0px 1000px rgb(255,255,255) inset;
    outline-color:rgb(240,80,20);}
.contact_entry:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px rgb(255,255,255) inset;}
.message_us{
    width:1150px;
    margin:auto;}
input::-webkit-input-placeholder {
    text-transform: capitalize;}
textarea::-webkit-input-placeholder {
    text-transform: capitalize;}


.menu_links{
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    width:auto;
    list-style-type: none;
    color: rgb(70,80,90);
    padding:0;}
.menu_links li{
    width:auto;
    height:auto;
    margin:auto 30px;}
.menu_links li a{
    margin: 0;}
.menu_links2{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width:auto;
    list-style-type: none;
    color: rgb(70,80,90);
    padding:0;}
.menu_icon_slot2{
    width:80px;
    height:80px;
    margin:2px;
    text-align:center;
    justify-content:center;
    background-color:rgb(255,255,255);}
.menu_icon_slot2 .menu_icon{
    color:rgb(240,80,20);}
.menu_icon_slot2:hover{
    background-color:rgb(240,80,20);}
.menu_icon_slot2:hover .menu_icon{
    color:rgb(255,255,255);}
.menu_webs{
    width:auto;
    margin:auto;}
.menu_icon{
    margin:28px 0 0 0;
    color:rgb(240,80,20);
    width:40px;
    font-size:25px;
    height:40px;}
.menu_icon_slot3{
    width:160px;
    height:80px;
    margin:2px;
    text-transform:uppercase;
    text-align:center;
    justify-content:center;
    background-color:rgb(255,255,255);}
.menu_icon_slot3 .menu_icon{
    color:rgb(240,80,20);}
.menu_icon_slot3:hover{
    background-color:rgb(240,80,20);
    color:rgb(255,255,255);}
.menu_icon_slot3:hover .menu_icon{
    color:rgb(255,255,255);}
.menu_icon_slot4{
    width:80px;
    height:80px;
    margin:2px;
    text-align:center;
    justify-content:center;}
.menu_icon_slot4 .menu_icon{
    color:rgb(240,80,20);}
.menu_icon_slot4:hover{}
.menu_icon_slot4:hover .menu_icon{
    color:rgb(255,255,255);}
.dropdown {
    font-weight: bold;
    position: relative;
    display: inline-block;}
.dropdown_content {
    display: none;
    position: absolute;
    background-color: rgb(255,255,255);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 0;
    z-index: 1;
    border-style: solid;
    border-width:0;
    border-top-width:4px;
    border-color:rgb(240,80,20);}
.dropdown:hover .dropdown_content {
    display: block;}
.dropdown_list{
    padding:0;
    list-style-type:none;}
.dropdown_list li:hover{
    color: rgb(255,255,255);
    background-color:rgb(240,80,20);}
.dropdown_list li{
    margin:0;
    padding:10px 20px;
    text-transform:capitalize;}
.not_main{
    background-color: rgb(200,230,240);}
.main{
    position:absolute;
    top:0}