body  {
    font-family: Tahoma;
    margin-left: 0;
    margin-right: 0;}
.front_section{
    background-color: rgb(200,230,240);
    color: rgb(70,80,90);}  
.front_section .margined{
    margin-left: 12%;
    margin-right: 12%;}
.front_section h1{
    font-size: 32px;
    color: rgb(0,50,80);}
.front_section .small_highlight{
    color: rgb(20,30,40);}
.front_section .big_highlight{
    color: rgb(240,80,20);
    font-size: 24px;}
.subtitle{
    color: rgb(240,80,20);
    font-size: 15px}
.cards{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    list-style-type: none;
    top:20px;
    position: relative;}
.cards li{
    background-color: rgb(255,255,255);
    width: 160px;
    -webkit-box-shadow: 0px 6px 71px -31px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 71px -31px rgba(0,0,0,0.75);
    box-shadow: 0px 6px 71px -31px rgba(0,0,0,0.75);}
.card_insides{
    margin-left: 3%;
    margin-right: 3%;}
.small_info_list{
    padding-left: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    list-style-type: none;}
.small_info_list .divider {
    width: 2px;
    margin: 15px 50px;
    background: rgb(240,80,20);
    align-self: stretch;}
.course_sercher{
    background-color: rgb(255,255,255);
    height: 75px;
    width:500px;
    position: relative;}
.course_sercher fieldset{
    border:0px;}
.course_sercher fieldset select{
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    border:0px;
    outline:0px;
    background-color:white;
    background:none;
    appearance:none;}
.course_sercher fieldset button{
    margin: 0;
    position: absolute;
    top: 41px;
    left:422px;
    transform: translateY(-50%);
    font-size: 24px;
    border:0px;
    outline:0px;
    background-color:white;
    background:none;
    appearance:none;}
h2{
    font-size: 24px;
    color: rgb(0,50,80);
    text-align: center;}
h3{
    font-size: 18px;
    color: rgb(0,50,80);}
.list_of_categories{
    list-style-type: none;
    padding-left: 0;
    justify-content: center;
    display: grid;
    grid-template-rows: 350px 350px;
    grid-template-columns: 200px 200px 200px 200px;}
.course_categories_section{
    padding:8%;
    background-color: rgb(255,255,255);}
.available_courses_section{
    padding:8%;
    background-color: rgb(0,50,80);}
.available_courses_section h2{
    color: rgb(255,255,255);}